{{>menu elements=categories}}
{{>breadcrumb this}}
<h1>Cart</h1>
<div id="products_cart">
  {{>cart this}}
  <div class="cart-button">
    <a class="btn btn-primary" href="/index.js?r=checkout/checkout">Continue</a>
  </div>
</div>
