<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- Basic stylesheet -->
<link rel="stylesheet" href="js/owl-carousel/owl.carousel.css">


<!-- Include js plugin -->
<script src="js/owl-carousel/owl.carousel.js"></script>

  <script src="js/common.js"></script>
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="js/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="top">
    <div class="container">
    <div id="account" class="pull-right">
      <a class="account_menu">Account</a>
      <div class="account_popup_target">
      </div>
    </div>
  </div>
  </nav>
  <div class="container">
    <div class="row" id="top">
      <div class="col-sm-4" id="logo">
        <a href="/index.js?r=common/home">
        <img src="image/logo.png" >
      </a>
      </div>
      <div class="col-sm-4">
        <form id=form-search>
          <div class="input-group">
          <input type="text" name="search" placeholder="search" class="form-control" value="">
          <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        </form>
      </div>
      <div class="col-sm-4 text-right" id="cart">
      <!--    <a href="/index.js?r=checkout/cart"> -->
      <a>
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/2277-200.png">
      </a>
      <!--   </a>-->

      <div id="cart_popup">

      </div>
      </div>
    </div>
    <div class="content">
    {{{body}}}
  </div>
  </div>
  <footer>
  <div class="container">
    <hr>
    <p>Your Store © 2016</p>
  </div>
</footer>
</body>
</html>
