<div id="review">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><div class="row">
        <div class="col-sm-6">
          <strong>{{author}}</strong>
        </div>
        <div class="col-sm-6 text-right">
          {{date}}
        </div>
      </div></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          {{text}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-left">
          Rating:{{rating}}
        </div>
      </div>
    </div>
  </div>
</div>
